/* =============
    Footer
============= */

footer{
  background-color: $green;
  padding-bottom: 10px;
  margin-top: 60px;
  div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  }
}
