/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 500px;

// Small tablets (portrait view)
$screen-md-min: 710px;

// Tablets and small desktops
$screen-lg-min: 960px;

// Large tablets and desktops
$screen-xl-min: 1125px;

// Colors
$white: #fff;
$black: #000;
$blue: #31578B;
$green: #236D37;
