// _hero

#hero{
  background-image: url('../img/hero/hero-img-1.jpg');
    background-size:  150%;
    height: 245px;
    width: 100%;
    background-position: -75px 0;
    margin-bottom: 60px;
    justify-content: flex-end;
    align-content: flex-end;

    @include sm{
      height: 350px;
    }

    @include md{
      height: 550px;
    }

    @include lg{
      height: 750px;
    }

    @include xl{
      height: 850px;
    }

#h1hero{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  h1{
    text-align: center;
    color: $white;
    font-size: 16px;

    @include sm{
      font-size: 20px;
    }

    @include md{
      font-size: 30px;
    }

    @include xl{
      font-size: 35px;
    }
  }
}
}
