// _map

#map{

  .trailheroimg{
    background-image: url('../img/map/apptrailmap.jpg');
      background-size:  cover;
      height: 500px;


      @include md{
        height: 1000px;
      }

      @include lg{
        height: 1000;
        width: 100%;
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        

      }

  }


article{
  background-color: $blue;
  text-align: center;
  border-radius: 25px;
  padding: 15px 0;
  color: $white;
  margin-top: 60px;
  margin-bottom: 60px;

  h1{
  font-size: 21px;
  @include lg{
    font-size: 30px;
  }
  span{
    font-size: 27px;
    @include lg{
      font-size: 39px;
    }
  }
}
}


.bottomtext{
  background-color: $blue;
  border-radius: 25px;
  padding: 15px 0;
  color: $white;
  margin-top: 60px;
  margin-bottom: 60px;
h1{
  font-size: 21px;
  text-align: center;
  @include lg{
    font-size: 30px;
  }
}
p{
  margin: 15px 0;
  padding: 0 15px;
  @include lg{
    font-size: 21px;
  }
}

}
}
