// _safety

#safety{
background-color: $green;
padding-top: 15px;
padding-bottom: 15px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 60px;
text-align: center;

h1{
  color: $white;
  margin-bottom: 30px;
}

h5{
  color: $white;
  margin-bottom: 30px;
}

p{
  color: $white;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0 10px;
}





}
