// _signup

#signup{
  text-align: center;

  h1{
    font-size: 21px;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: $blue;
    border-radius: 25px;
    padding: 15px 0;
    color: $white;
  }

  input{
    margin-bottom: 15px;
  }

  ul {
    @include lg{
      width:100%;
      grid-column-gap:10px;
      grid-template-columns:repeat(3, 1fr);
      // grid-template-rows:repeat(1, 242px);
      display:grid;
    }
  
  }
}
